$color-white:white;
$color-black:#111;
$color-blue:#8315f1;
$color-yellow:rgb(240, 130, 40);
$color-yellowlight:rgb(247, 202, 3);
$color-gree:rgb(226, 219, 219);

$font-size:16px; $font-size-sm:14px;
$font-navbar:18px;
$font-h1:4rem; $font-h1-sm:3rem;
$font-button:18px; $font-button-sm:16px;
$font-logo:28px;
$font-width:4rem;
$line-hight:4rem; $line-hight-md:3.2rem; $line-hight-sm:2.6rem;
$title-size:2.8rem; $title-size-md:2.1rem; $title-size-sm:1.8rem;
$font-p:14px; $font-p-sm:13px;

$border-radius:3px;
$public-padding:100px; $public-padding-md:70px; $public-padding-sm:50px;
