@import"varaible";
@import"mixin";


*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    font-family: "Titillium Web", sans-serif;
    font-weight:400;
    line-height:1.8;
    
}

p{
    color:$color-black;
    font-size:$font-p;
    
    @include MQ(991px){
        font-size:$font-p-sm;
    }
}



#logo{
    font-size:$font-logo;
    color:$color-black;
    font-weight:bold;
    #logo-icon{
        color:$color-yellow;
    }
}

.header{
    background-image:url('../img/BGS.png');
    height:100vh;
    background-size:46% 120%;
    background-position:right;
    background-repeat: no-repeat;
    
    @include MQ(1650px,1455px){
        background-size:44% 120%;
        
    }
    
    @include MQ(1455px,1350px){
        background-size:42% 120%;
        
    }
    
    @include MQ(1350px,1200px){
        background-size:39% 120%;
        
    }
    
    @include MQ(1050px,992){
        background-size:42% 120%;
        
    }
    
    @include MQ(991px){
        background-size:48% 120%;
        
    }
    
    @include MQ(767px){
        background-size:48% 100%;
        
    }
    
    
    
    .navbar-style{
        position: absolute;
        width:100%;
        z-index: 1;
        padding:20px 0;
        @include MQ(767px){
            margin:10px 0 0; 
            padding:0 20px !important;           
        }
        
        
        
        &__button{
            border:2px solid $color-yellow !important;
            padding:8px !important;
            &--logo{
                font-size:$font-logo;
                color:$color-white;
                
                
            }
        }
        
        @include MQ(767px){
            padding:0px;
            
        }
        
        
        
        .ul{
            @include MQ(767px){
                background-color:$color-blue;
                text-align:center;
                
            }
            
            &__a{
                margin:0 20px;
                color:$color-white;
                font-size:$font-navbar;
                
                @include MQ(767px){
                    color:$color-white !important;
                    display: inline-block;
                    
                    &:hover{
                        color:$color-yellow !important;
                    }
                    
                }
                
                
                &--blue{
                    color:$color-blue;
                    
                    
                }
                
                &:hover{
                    color:$color-yellow;
                }
                
            }
            
            
        }
        
        #button{
            @include button;
            margin:0px 0;
            padding:10px 30px !important;
            background-image:linear-gradient(rgb(151, 110, 218));
            &:hover{
                background-image:linear-gradient(left bottom,$color-yellow,$color-yellowlight);
                color:$color-white !important;
            }
            
            @include MQ(767px){
                background-image:linear-gradient($color-blue);
                margin:0 60px 20px;
                
            }
            
            
        }
        
        
        
        
    }
    
    
    
    
    .textarea{
        position: absolute;
        width:45%;
        top:50%;
        transform:translateY(-50%);
        
        
        
        @include MQ(991px){
            width:43%;
            
            
        }
        @include MQ(767px){
            width:60%;
            top:90%;
            transform:translateY(-90%);
            
        }
        
        @include MQ(566px){
            width:66%;
        }
        
        @include MQ(484px){
            width:74%;
        }
        
        @include MQ(445px){
            width:60%;
        }
        
        
        
        &__h1{
            font-size:54px;
            line-height:$line-hight;
            
            
            @include MQ(1199px){
                font-size:44px;
                line-height:$line-hight-md;
            }
            @include MQ(991px){
                font-size:34px;
                line-height:$line-hight-sm;
                
            }
            
            @include MQ(600px){
                font-size:29px;
                line-height:$line-hight-sm;
                
            }
            
            @include MQ(445px){
                font-size:24px;
            }
            
            @include MQ(400px){
                font-size:20px;
            }
        }
        
        &__p{
            width:90%;
            margin:20px 0;
            
            @include MQ(991px){
                width:100%;
                
            }
            
        }
    }
    
    .button{
        @include button;
        margin:20px 0;
        
        &--navbar{
            background-color:white !important;
        }
    }
    
    
    &__img{
        position:absolute;
        top:50%;
        right:0%;
        transform:translateY(-50%);
        width:55%;
        
        
        &--style{
            width:80%;
            
        }
        
        @include MQ(767px){
            position:absolute;
            top:20%;
            left:30%;
            transform:translate(-40%,-20%);
            width:40%;
        }
    }
    
    
}


.section{
    padding-bottom:$public-padding;
    text-align:center;
    
    &__text{
        width:60%; 
        margin-bottom:20px;
    }
    
    &__h2{
        font-size:$title-size;
    }
    
    &__p{
        width:90%;
    }
    
    @include MQ (991px){
        padding-bottom:$public-padding-md;
        text-align:center;
        
        &__text{
            width:80%; 
        }
        
        &__h2{
            font-size:$title-size-md;
        }
        
    }
    
    @include MQ (767px){
        padding-bottom:$public-padding-sm;
        
        &__h2{
            font-size:$title-size-sm;
        }
    }
}


.public-section{
    padding-top:$public-padding;
    background-color:$color-gree;
    
    &--white{
        background-color:$color-white;
        padding:0;
    }
    
    &--blue{
        background-color:$color-blue;
        padding-top:0;
        padding-bottom:$public-padding;
    }
    
    .img-block{
        margin:20px;
        &__img{
            width:100%;
            height:400px;    
        }
    }
    
    
    .text{
        margin:$public-padding 10px 20px;
        text-align:justify;
        &__h2{
            font-size:$title-size;
            color:$color-black;
            
            &--blue{
                color:$color-white;
            }
        }
        
        &__p{
            &--blue{
                color:$color-white;
            }
        }
        
        .button{
            @include button;
            margin:20px 0;
            
            &--gree:hover{
                background-image: linear-gradient($color-gree);
            }
            
            &--blue:hover{
                background-image: linear-gradient($color-blue);
            }
        }
    }
    
    
    @include MQ (991px){
        padding:0 0 $public-padding-md;
        
        &--blue{
            background-color:$color-blue;
            padding-top:0;
            padding-bottom:$public-padding-md;
        }
        
        .img-block{
            margin:20px;
            &__img{
                width:100%;
                height:400px;    
            }
        }
        
        .text{
            margin:$public-padding 10px 20px;
            text-align:left;
            &__h2{
                font-size:$title-size-md;
            }   
        }
        
        
    }
    
    @include MQ (767px){
        padding-bottom:$public-padding-sm;
        padding:0 0 $public-padding-sm;
        
        &--blue{
            padding-bottom:$public-padding-sm;
        }
        
        .img-block{
            margin:15px;
        }
        
        .text{
            margin:$public-padding 10px 20px;
            text-align:center;
            &__h2{
                font-size:$title-size-sm;
                margin-bottom:20px;
            }   
        }
        
        
    }
    
    
}


.curved-div {
    position: relative;
    background: $color-gree;
    color: #FFF;
    text-align: center;
}
.curved-div svg {
    display: block;
}
.curved-div.upper {
    background:$color-gree;
}




.section1{
    @include padding;
    text-align:center;
    
    &__h2{
        font-size:$title-size;
    }
    
    .button-group{
        margin:20px 0;
        &__button{
            @include button;
            padding:10px 20px;
            
            &--right{
                margin-right:20px;
            }
        }
    }
    
    @include MQ (991px){
        &__h2{
            font-size:$title-size-md;
        }
        
    }
    
    @include MQ (767px){
        &__h2{
            font-size:$title-size-sm;
            margin-bottom:20px;
        }
        
    }
    
}


.section2{
    padding-top:$public-padding;
    text-align:center;
    .border{
        margin-top:40px;
        padding:1px 0;
        background-color:#7d00fa;
        width:80%;
    }
    
    .circle{
        width:160px;
        height:160px;
        border-radius:360%;
        background-color:white;
        border:6px solid $color-blue;
        text-align:center;
        transform: translateY(-50%);
        box-shadow:0 5px 15px 0 #111;
        
        &__h2{
            margin-top:30px;
            font-size:$title-size;
            line-height:30px;
        }
        &__p{
            margin:0 10px;
        }
        
    }
    
    &__text-content{
        transform:translateY(-50%);
        text-align:center;
        margin:0 20px;
    }
    
    
    @include MQ (991px){
        padding-top:$public-padding-md;
        .circle{
            &__h2{
                font-size:$title-size-md;
            }
        }
        
    }
    
    @include MQ (767px){
        padding-top:0;
        .border{
            display:none;
        }
        
        .circle{
            margin:40px 0 20px;
            width:140px;
            height:140px;
            transform: translateY(-10%);
            &--md{
                margin:0px 0 20px;
            }
            
            &__h2{
                margin-top:30px;
                font-size:$title-size-md;
                line-height:30px;
            }
            &__p{
                margin:0 10px;
            }
            
        }
        
        &__text-content{
            transform:translateY(-10%);
            text-align: center;
            margin:0 30px;
        }
        
        
    }
}




.section3{
    @include padding;
    background-image: url('../img/Web-bg.png');
    background-repeat: no-repeat;
    
    background-size:cover;
    background-position:top;
    text-align:center;
    
    .text{
        padding:30px;
        &__h2{
            font-size:$title-size;
            width:60%;
            margin:0 auto;
            
            
        }
        
    }
    
    .public-card{
        padding-top:40px; 
        .card{
            margin:30px 20px;
            padding:40px;
            border:none;
            box-shadow:0 5px 15px 0 rgb(187, 185, 185);
            
            &--first{
                margin-top:120px;
                
            }
            
            
            &__fontawsoum{
                font-size:80px;
                margin-bottom:30px;
                color:$color-blue
            }
            
            &__h3{
                font-weight:bold;
            }
            &__p{
                text-align:center;
                width:80%;
                margin:0 auto;
            }
        }
    }
    
    
    @include MQ (991px){
        .text{
            padding:30px;
            &__h2{
                font-size:$title-size-md;
                width:80%;
                
            }
            
        }
        
        .public-card{
            padding-top:30px;
            
            
            .card{
                
                &--first{
                    margin-top:100px;
                    
                }
                
                
                &__fontawsoum{
                    font-size:60px;
                    
                }
                
                &__h3{
                    font-size:1.8rem;
                    margin-bottom:10px 0;
                }
            }
        }
        
    }
    
    @include MQ (767px){
        .text{
            padding:0px;
            &__h2{
                font-size:$title-size-sm;
                width:80%;
                
            }
            
        }
        
        .public-card{
            padding-top:20px;
            
            
            .card{
                
                &--first{
                    margin-top:30px;
                    
                }
                
                
                &__fontawsoum{
                    font-size:60px;
                    
                }
                
            }
            
            
        }
        
    }
    
}


.section4{ 
    background-image: url('../img/world.jpg');
    background-size:cover; 
    background-position:center;
    color:$color-white;
    
    .rgba{
        @include padding;
        background-color:rgba(131, 21, 241, 0.8);
        
        
        .img-flex{
            display:flex;
            flex-direction:column;
            padding:0 40px;
            
            &__one{
                display: flex;
                flex-direction:row;
                width:100%;
                justify-content:space-around;
                margin:20px 0;
                
            }
            
            &__img{
                width:70px;
                height:70px;
                border-radius:360%;
                
                &--style{
                    width:150px;
                    height:150px;
                    border-radius:360%;
                    border:6px solid rgb(255, 123, 0);
                }
                
                &--margin{
                    margin-top:40px;
                }
            }
            
        }
        
        .text{
            margin:80px 40px 0;
            
            &__h2{
                color:$color-white;
                font-size:$title-size;
                margin:25px 0;
            }
            
            &__p{
                color:$color-white;
                font-size:20px;
                line-height:35px;
            }
            
            &__a{
                font-size:22px;
                text-decoration:none;
                color:$color-white;
            }
        }
        
        .link{
            text-align:right;
            font-size:20px;
            
            &__a{
                text-decoration:none;
                color:$color-white;
                &:hover{
                    color: $color-blue;
                }
            }
            
        }
        
        
    }
    
    @include MQ (991px){
        
        .rgba{
            
            .img-flex{
                padding:0 10px;
                
                &__one{
                    margin:15px 0;
                }
                
                &__img{
                    width:60px;
                    height:60px;
                    
                    &--style{
                        width:120px;
                        height:120px;
                    }
                    
                    &--margin{
                        margin-top:24px;
                    }
                }
                
            }
            
            .text{
                margin:20px 20px 0;
                
                &__h2{
                    margin:20px 0;
                    font-size:$title-size-md;
                }
                
                &__p{
                    font-size:18px;
                    line-height:28px;
                }
                
                &__a{
                    font-size:20px;
                }
            }
            
            .link{
                text-align:right;
                font-size:18px;
                
            }
            
            
        }
        
    }
    
    @include MQ (767px){
        .rgba{
            .img-flex{
                margin-bottom:20px;
                &__img{
                    width:60px;
                    height:60px;
                    
                    &--style{
                        width:130px;
                        height:130px;
                    }
                    
                    &--margin{
                        margin-top:24px;
                    }
                }
                
            }
            
            .text{
                margin:20px 20px 0;
                
                &__h2{
                    margin:20px 0;
                    font-size:$title-size-sm;
                    text-align: center;
                }
                
                &__p{
                    font-size:16px;
                    line-height:24px;
                }
                
                &__a{
                    font-size:20px;
                }
            }
            
            
        }
    }
    
}


.footer{
    padding:40px 0;
    
    .text-footer{
        
        &__h3{
            
        }
        
        &__a{
            text-decoration:none;
            color: $color-black;
            line-height:2rem;
        }
    }
    
    @include MQ (767px){
        padding:30px 0;
        
        .text-footer{
            
            &__h3{
                margin:30px 0 20px;
            }
            
            &__a{
                line-height:1.8rem;
            }
        }
        
    }
    
}

.copy{
    padding:40px;
    border-top:1px solid rgba(172, 136, 206, 0.705);
    text-align:center;

    @include MQ (767px){
        font-size:12px;
        padding:20px;
    
    }
}